langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langgraph

chromadb
sentence-transformers

google-generativeai
groq

datasets
ragas

wikipedia
wikipedia-api

pypdf
docx2txt

tiktoken
nltk

pandas
numpy
requests

ipykernel
